<footer class="text-center">
			<h1>Labels</h1>
            <div class="bs-component" style="margin-bottom: 10px;">
              <span class="label label-info">Info</span>
              <span class="label label-success">Active</span>
              <span class="label label-danger">Inactive</span>
              <span class="label label-warning">System Warning</span>
              <span class="label label-default">Pulse-app inactive</span>
            </div>
      		<font size="2">Copyright &copy; alok87 Technology<br></font>
      		<font size="1">Build version: 1.5</font>
</footer>
